* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #dce0e6;
}

.container-header {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

header {
  /* background-color: #333; */
  background-color: #2b4c7e;
  height: 4.5em;
  color: #fff;
  margin-bottom: 1em;
}

header h1 {
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
}

#h1-img {
  margin-left: 2%;
  height: 50px;
  width: 50px;
}

header h2 {
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
}

header .container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.form-container {
  display: flex;
  width: 100%;
}

section {
  margin: 2em 0;
  overflow: hidden;
  margin-bottom: 2em;
}

section h2 {
  font-size: 2em;
  /* display: block; */
  padding-bottom: 0.5em;
  /* border-bottom: 1px solid #ccc; */
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

h2 img {
  width: 40px;
  height: 40px;
  align-items: center;
}

table {
  width: 100%;
  margin-bottom: 6.5em;
  table-layout: fixed;
  margin-top: 1.5em;
}

td,
th {
  padding: 0.7em;
  margin: 0;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #eee;
}

label {
  color: #000;
  display: block;
  margin-bottom: 0.2em;
  font-size: 1rem;
}

label img {
  width: 25px;
  height: 25px;
  align-items: center;
  margin-left: 1%;
}

#label-filtro {
  font-size: 1em;
}

#form-adiciona {
  width: 100%;
}

.campo {
  margin: 0;
  padding-bottom: 1em;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.7em;
  width: 70%;
}

.campo-medio {
  display: inline-block;
  padding-right: 0.5em;
}
.div-nome {
  width: 50%;
  align-items: center;
}

.grupo {
  width: 50%;
  display: inline-block;
  align-items: center;
  /* padding: 10px 0px; */
}

p {
  margin-top: 1rem;
}

td {
  background-color: #fff;
}

.button {
  padding: 0.5em 2em;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
  margin: 0;
  margin-top: -3px;
  color: #fff;
  width: 180px;
  height: auto;
  display: block;
  clear: both;
  margin: 10px 0px;
  border-radius: 40px 40px 40px 40px;
}

button:active {
  margin-top: 0px;
  border: 0;
}

button[disabled="disabled"],
button:disabled {
  background-color: gray;
  border-color: darkgray;
}

.btn-adicionar {
  background-color: #0c8cd3;
  border: 1px;
  border-color: #0c8cd3;
}

.btn-remover {
  padding: 0.5em 2em;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
  margin: 0;
  margin-top: -3px;
  color: #fff;
  width: 180px;
  height: auto;
  display: block;
  clear: both;
  margin: 10px 0px;
  border-radius: 40px 40px 40px 40px;

  background-color: #b80000;
  width: 100px;
  border: 1px solid;
  border-color: #b80000;
  margin-left: 35%;
}

.btn-adicionar:hover {
  background-color: #fff;
  color: #0c8cd3;
  border: 1px solid;
  border-color: #0c8cd3;
}
.btn-remover:hover {
  background-color: #fff;
  border: 1px solid;
  color: #b80000;
  border-color: #b80000;
}

.img-remover {
  width: 20px;
  height: 20px;
}

.adicionar-produto {
  margin-top: 30px;
}

.campo-invalido {
  border: 1px solid red;
}

.paciente-invalido {
  background-color: lightcoral;
}

#mensagem-erro {
  color: red;
}
.fadeOut {
  opacity: 0;
  transition: 0.5s;
}
#filtrar-tabela {
  width: 200px;
  height: 35px;
  margin-bottom: 10px;
}

.invisivel {
  display: none;
}
.btn-remover {
  color: #fff;
}

/* toggle */
.switch {
  position: relative;
  /* //display: inline-block; */
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* footer{
  margin-top: 1.5em;
  width: 100%;
  height: 100%;
  background-color: #2b4c7e;
} */
